<% @prices['DISPLAY'] %>

<% @prices['DISPLAY'].each do |key, value| %>
  <p><%= key %>: <%= value['USD']['PRICE'] %><br />
  24H High: <%= value['USD']['HIGHDAY'] %> 24H Low: <%= value['USD']['LOWDAY'] %><br />
  MarketCap: <%= value['USD']['MKTCAP'] %></p>
<% end %>

<div class="row">
    <% for news in @news['Data'] %>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <%= image_tag news['imageurl'], class: 'card-img-top', alt: news['source'] %>
        <div class="card-body">
          <h5 class="card-title"><%= news['title'] %></h5>
          <p class="card-text"><%= news['body'] %></p>
          <%= link_to 'Read More', news['url'], target: '_blank', class: 'btn btn-primary' %>
        </div>
      </div>
      <br />
    </div>
    <% end %>
</div>
