
<table class="table table-sm table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">24hr High</th>
      <th scope="col">24hr Low</th>
      <th scope="col">Market Cap</th>
    </tr>
  </thead>
  <tbody>
    <% @volumes['Data'].each do |index| %>
      <% index['DISPLAY'].each do |display, tsym| %>
      <tr>
        <td><%= image_tag "https://www.cryptocompare.com#{tsym['IMAGEURL']}", alt: tsym['FROMSYMBOL'], size: '24x24' %></td>
        <td><%= tsym['PRICE'] %></td>
        <td><%= tsym['HIGH24HOUR'] %></td>
        <td><%= tsym['LOW24HOUR'] %></td>
        <td><%= tsym['MKTCAP'] %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<div class="row">
    <% for news in @news['Data'] %>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <%= image_tag news['imageurl'], class: 'card-img-top', alt: news['source'] %>
        <div class="card-body">
          <h5 class="card-title"><%= news['title'] %></h5>
          <p class="card-text"><%= news['body'].html_safe %></p>
          <%= link_to 'Read More', news['url'], target: '_blank', class: 'btn btn-primary' %>
        </div>
      </div>
      <br />
    </div>
    <% end %>
</div>
